<!--
  Generated template for the DetalleslugarPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

	<ion-navbar>
		<button ion-button menuToggle>
			<ion-icon name="menu" style=""></ion-icon>
		</button>
		<ion-title>Menú</ion-title>
	</ion-navbar>

</ion-header>


<ion-content>
	<ion-grid>
		<ion-row>
			<div *ngIf="nombre=='HUANCHACO'" style="justify-content: center; display: flex; align-items: center; background: url('assets/imgs/fondoprincipal.jpg') center; background-size:100% 100%; height: 300px; width: 100%;">
				<h3 class="colorChan">{{nombre}}</h3>
			</div>
			<div *ngIf="nombre=='CENTRO HISTÓRICO'" style="justify-content: center; display: flex; align-items: center; background: url('assets/imgs/estatuacentrohistorico.jpg') center; background-size:100% 100%; height: 300px; width: 100%;">
				<h3 class="colorChan">{{nombre}}</h3>
			</div>
			<div *ngIf="nombre=='CHAN CHAN'" style="justify-content: center; display: flex; align-items: center; background: url('assets/imgs/chanchan.jpg') center; background-size:100% 100%; height: 300px; width: 100%;">
				<h3 class="colorChan">{{nombre}}</h3>
			</div>
			<div *ngIf="nombre=='HUACA DEL SOL'" style="justify-content: center; display: flex; align-items: center; background: url('assets/imgs/huacadelsol.jpg') center; background-size:100% 100%; height: 300px; width: 100%;">
				<h3 class="colorChan">{{nombre}}</h3>
			</div>
			<div *ngIf="nombre=='COMPLEJO ARQUEÓLOGICO EL BRUJO'" style="justify-content: center; display: flex; align-items: center; background: url('assets/imgs/brujo/1.jpg') center; background-size:100%; height: 300px; width: 100%;">
				<h3 class="colorChan">{{nombre}}</h3>
			</div>
			<div *ngIf="nombre=='CABALLITOS DE TOTORA'" style="justify-content: center; display: flex; align-items: center; background: url('assets/imgs/totora/1.jpg') center; background-size:100%; height: 300px; width: 100%;">
				<h3 class="colorChan">{{nombre}}</h3>
			</div>

			<div style="background: #000;">

				<p padding style="text-align: justify; font-size: 1rem;">{{nombre}} estaba en lo más alto de su poder en el siglo XXV hasta que fue conquistado por el imperio inca en 1470. Ya que Chan Chan era la capital del reino Chimu, esto significo el fin de su civilización. Después de formar parte de territorio inca por solo 50 años, los españoles llegaron y saquearon todos los bienes y artefactos de Chan Chan. Después de ser abandonado y robado de toda su gloria por siglos, finalmente fue nombrado como Patrimonio de la Humanidad UNESCO en 1986. A partir de eso mucho ah cambiado. La antigua gloria quizás haya sido perdida para siempre, pero gracias a restauraciones elaboradas sobre los últimos 30 años, Chan Chan se ha convertido en uno de los lugares más restaurados en Sudamérica. Aunque sientas que arruinaría la autenticidad, no puede ser negado que la ciudad revive por eso. Cuando caminas por las rejas de Chan Chan serás lanzado a otro tiempo y lugar.</p>

				<ion-grid>
					<ion-row>
						<ion-col col-4 style="text-align: center;">
							<ion-icon ios="ios-pin" md="md-pin" style="font-size: 3rem; color: white;"></ion-icon>
							<p>Ubicación</p>
							<p>{{ubicacion}}</p>	
						</ion-col>
						<ion-col col-4 style="text-align: center;">
							<ion-icon ios="ios-time" md="md-time" style="font-size: 3rem; color: white;"></ion-icon>
							<p>Horario</p>
							<p>{{Temporada}}</p>
						</ion-col>
						<ion-col col-4 style="text-align: center;">
							<ion-icon ios="ios-bus" md="md-bus" style="font-size: 3rem; color: white;"></ion-icon>
							<p>Via de Acceso</p>
							<p>{{Accesoviaterrestre}}</p>
						</ion-col>
					</ion-row>
				</ion-grid>
				
			</div>

			<ion-col col-12>
				<div *ngIf="nombre=='HUANCHACO'">
					<ion-slides loop="true" speed="500" class="slides" pager="true">
						<ion-slide>
							<img width="100%" height="300" src="assets/imgs/huanchaco/1.jpg" alt="">
						</ion-slide>
						<ion-slide>
							<img width="100%" height="300" src="assets/imgs/huanchaco/2.jpg" alt="">
						</ion-slide>
						<ion-slide>
							<img width="100%" height="300" src="assets/imgs/huanchaco/3.jpg" alt="">
						</ion-slide>
						<ion-slide>
							<img width="100%" height="300" src="assets/imgs/huanchaco/4.jpg" alt="">
						</ion-slide>
						<ion-slide>
							<img width="100%" height="300" src="assets/imgs/huanchaco/5.jpg" alt="">
						</ion-slide>
					</ion-slides>
				</div>
				<div *ngIf="nombre=='CENTRO HISTÓRICO'">
					<ion-slides loop="true" speed="500" class="slides" pager="true">
						<ion-slide>
							<img width="100%" height="300" src="assets/imgs/centro/1.jpg" alt="">
						</ion-slide>
						<ion-slide>
							<img width="100%" height="300" src="assets/imgs/centro/2.jpg" alt="">
						</ion-slide>
						<ion-slide>
							<img width="100%" height="300" src="assets/imgs/centro/3.jpg" alt="">
						</ion-slide>
						<ion-slide>
							<img width="100%" height="300" src="assets/imgs/centro/4.jpg" alt="">
						</ion-slide>
						<ion-slide>
							<img width="100%" height="300" src="assets/imgs/centro/5.jpg" alt="">
						</ion-slide>
						<ion-slide>
							<img width="100%" height="300" src="assets/imgs/centro/6.jpg" alt="">
						</ion-slide>
					</ion-slides>
				</div>
				<div *ngIf="nombre=='CHAN CHAN'">
					<ion-slides  loop="true" speed="500" class="slides" pager="true">
						<ion-slide>
							<img width="100%" height="300" src="assets/imgs/chan/1.jpg" alt="">
						</ion-slide>
						<ion-slide>
							<img width="100%" height="300" src="assets/imgs/chan/2.jpg" alt="">
						</ion-slide>
						<ion-slide>
							<img width="100%" height="300" src="assets/imgs/chan/3.jpg" alt="">
						</ion-slide>
						<ion-slide>
							<img width="100%" height="300" src="assets/imgs/chan/4.jpg" alt="">
						</ion-slide>
						<ion-slide>
							<img width="100%" height="300" src="assets/imgs/chan/5.jpg" alt="">
						</ion-slide>
						<ion-slide>
							<img width="100%" height="300" src="assets/imgs/chan/6.jpg" alt="">
						</ion-slide>
					</ion-slides>
				</div>
				<div *ngIf="nombre=='HUACA DEL SOL'">
					<ion-slides  loop="true" speed="500" class="slides" pager="true">
						<ion-slide>
							<img width="100%" height="300" src="assets/imgs/huaca/1.jpg" alt="">
						</ion-slide>
						<ion-slide>
							<img width="100%" height="300" src="assets/imgs/huaca/2.jpg" alt="">
						</ion-slide>
						<ion-slide>
							<img width="100%" height="300" src="assets/imgs/huaca/3.jpg" alt="">
						</ion-slide>
						<ion-slide>
							<img width="100%" height="300" src="assets/imgs/huaca/4.jpg" alt="">
						</ion-slide>
						<ion-slide>
							<img width="100%" height="300" src="assets/imgs/huaca/5.jpg" alt="">
						</ion-slide>
						<ion-slide>
							<img width="100%" height="300" src="assets/imgs/huaca/6.jpg" alt="">
						</ion-slide>
					</ion-slides>
				</div>

				<div *ngIf="nombre=='COMPLEJO ARQUEÓLOGICO EL BRUJO'">
					<ion-slides  loop="true" speed="500" class="slides" pager="true">
						<ion-slide>
							<img width="100%" height="300" src="assets/imgs/brujo/1.jpg" alt="">
						</ion-slide>
						<ion-slide>
							<img width="100%" height="300" src="assets/imgs/brujo/2.jpg" alt="">
						</ion-slide>
						<ion-slide>
							<img width="100%" height="300" src="assets/imgs/brujo/3.jpg" alt="">
						</ion-slide>
						<ion-slide>
							<img width="100%" height="300" src="assets/imgs/brujo/4.jpg" alt="">
						</ion-slide>
						<ion-slide>
							<img width="100%" height="300" src="assets/imgs/brujo/5.jpg" alt="">
						</ion-slide>
						<ion-slide>
							<img width="100%" height="300" src="assets/imgs/brujo/6.jpg" alt="">
						</ion-slide>
					</ion-slides>
				</div>

				<div *ngIf="nombre=='CABALLITOS DE TOTORA'">
					<ion-slides loop="true" speed="500" class="slides" pager="true">
						<ion-slide>
							<img width="100%" height="300" src="assets/imgs/totora/1.jpg" alt="">
						</ion-slide>
						<ion-slide>
							<img width="100%" height="300" src="assets/imgs/totora/2.jpg" alt="">
						</ion-slide>
						<ion-slide>
							<img width="100%" height="300" src="assets/imgs/totora/3.jpg" alt="">
						</ion-slide>
						<ion-slide>
							<img width="100%" height="300" src="assets/imgs/totora/4.jpg" alt="">
						</ion-slide>
						<ion-slide>
							<img width="100%" height="300" src="assets/imgs/totora/5.jpg" alt="">
						</ion-slide>
						<ion-slide>
							<img width="100%" height="300" src="assets/imgs/totora/6.jpg" alt="">
						</ion-slide>
					</ion-slides>
				</div>

			</ion-col>

			<ion-col col-12 style="text-align: center;">
				<div *ngIf="nombre=='HUANCHACO'">
					<h3 class="colorChan">{{nombre}}</h3>
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15800.682052017954!2d-79.11760222208022!3d-8.084086563667384!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91ad3bf7f8771e73%3A0xb5d9f2e453ecc75d!2sHuanchaco!5e0!3m2!1ses-419!2spe!4v1530196536824" width="100%" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
				</div>
				<div *ngIf="nombre=='HUACA DEL SOL'">
					<h3 class="colorChan">{{nombre}}</h3>
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3949.6913859619426!2d-78.99448509347327!3d-8.132867953344668!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91ad17be9b38b059%3A0xbfa558ea897165e3!2sLa+Huaca+de+la+Luna!5e0!3m2!1ses-419!2spe!4v1530196855357" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
				</div>
				<div *ngIf="nombre=='CHAN CHAN'">
					<h3  class="colorChan">{{nombre}}</h3>
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3949.9600870829854!2d-79.07680148578626!3d-8.105546583329259!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91ad3c5aac618ac5%3A0xcb9b94821b72a829!2sRuinas+de+Chan-Chan!5e0!3m2!1ses-419!2spe!4v1530196933046" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
				</div>
				<div *ngIf="nombre=='CENTRO HISTÓRICO'">
					<h3 class="colorChan">{{nombre}}</h3>
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7899.816218199823!2d-79.03159582803443!3d-8.110838805097146!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91ad3d8387a91d09%3A0xbfeb703329913196!2sCentro+Historico%2C+Trujillo+13001!5e0!3m2!1ses-419!2spe!4v1530196993870" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
				</div>
				<div *ngIf="nombre=='COMPLEJO ARQUEÓLOGICO EL BRUJO'">
					<h3 class="colorChan">{{nombre}}</h3>
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3951.806754987563!2d-79.30789958578842!3d-7.915244780979822!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91ad4bf17dd94a83%3A0xe3d1e1c1f7e7e1a3!2sComplejo+Arqueol%C3%B3gico+El+Brujo!5e0!3m2!1ses-419!2spe!4v1530196726448" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
				</div>
				<div *ngIf="nombre=='CABALLITOS DE TOTORA'">
					<h3 class="colorChan">{{nombre}}</h3>
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15800.682052017954!2d-79.11760222208022!3d-8.084086563667384!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91ad3bf7f8771e73%3A0xb5d9f2e453ecc75d!2sHuanchaco!5e0!3m2!1ses-419!2spe!4v1530196536824" width="100%" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
				</div>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>
