page-detalleslugar {

	.scroll-content{
		background: url('../assets/imgs/fondoprincipal.jpg') !important;
	}
	.inicio{
		margin-top:30px;font-weight: bolder;color:white;float: right; margin-right: 20px;
	}
	.colorChan, p{
		color: white !important;
		
	}
	.colorChan{
		font-weight:bolder;
	}

}
