page-home {
	ion-content{
		background:black;
	}
	.scroll-content{
		background: rgb(149,191,3) !important;
		opacity: .8;
	}
	.boton{
		background: transparent; -webkit-box-shadow:0; box-shadow: none;
	}
	.icono{
		color: white !important; font-size: 2em;
	}
	.contener{
		text-align: center !important; margin-top: 50% !important;
	}
	.botonentrar{
		background: rgb(0,41,129);border-radius: 20px; width: 300px;
	}
}
